/* CSS Document */
/*======================= Navbar =======================*/
#navbar {
    position: fixed;
    top: -100%;
    width: 100%;
    display: block;
    transition: top 0.6s;
    z-index: 99;
}

#logo img {
    width: 130px;
    height: 80px;
}

.menu {
    clear: both;
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%,
        rgba(209, 209, 209, 1) 48%,
        rgba(219, 219, 219, 1) 63%,
        rgba(254, 254, 254, 1) 100%);
    border-bottom: 1px solid silver;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed;

}

#logo {
    display: inline-block;
    margin-left: 23%;
    margin-right: 23%;
    float: left;
}

#navegacao {
    display: inline-block;
    width: 100%;
}

#navegacao a {
    display: inline-block;
    text-decoration: none;
    color: #888888;
    padding-right: 0.7%;
    padding-left: 0.7%;
    padding-top: 2.5%;
    padding-bottom: 2%;
    text-align: center;
}

#navegacao a:hover {
    text-decoration: none;
    color: #fff;
    padding-top: 2.5%;
    padding-bottom: 2%;
    background: #00ac8d;
}

/*========================== Login Modal ========================*/
.form-login input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

}

input[type=password] {
    margin-bottom: 10%;
}

.container h1 {
    font-size: 20pt;
}

.botaoLogin {
    background: #00796a;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    display: inline-block;
}

botaoLogin:hover {
    background: #00ac8d;
}


.container {
    padding: 16px;
    text-align: center;
}

.modal-content {
    margin: 0 auto;
    margin-top: 10%;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


/*======================= slideShow =======================*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: .7;
}

#carouselExampleIndicators a:hover {
    background-color: transparent;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/photo-01.jpg");
}

.carousel-item:nth-child(2) {
    background-image: url("../img/photo-02.jpg");
}

.carousel-item:nth-child(3) {
    background-image: url("../img/photo-03.jpg");
}

article hgroup {
    margin-bottom: 15%;
}

article hgroup h1 {
    font-size: 50pt;
    font-weight: bold;
    padding-bottom: 2%;
    color: #fff;
}

article hgroup h3 {
    text-transform: uppercase;
    font-size: 24pt;
    font-weight: 500;
}

/*======================= Textos =======================*/
h1,
h2 {
    padding-top: 8%;
    text-align: center;
    padding-bottom: 5%;
    color: #333;
    text-transform: uppercase;
}

h1 span {
    color: #00ac8d;
}

/*======================= Níveis de Ensino =======================*/
.ensino {
    display: inline-block;
    width: 21%;
    padding-top: 0.8%;
    background: #f5f6fa;
}


#niveisEnsino {
    text-align: center;
}

.ensino:nth-child(3) {
    margin-left: 1%;
    margin-right: 1%;
}

.ensino:nth-child(4) {
    margin-right: 1%;
}

.ensino img {
    width: 92%;
    height: 30%;
}

.ensino p {
    margin-left: 15%;
    margin-right: 10%;
    text-align: left;
    font-size: 10pt;
    line-height: 130%;
    color: #7a8188;
}

.ensino h3 {
    text-align: center;
    font-size: 12pt;
    color: #535353;
    margin-top: 6%;
    padding-bottom: 2%;
}

.ensino,
.ensino h3,
.ensino p {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.ensino:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: #00ac8d;
}

.ensino:hover p {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #fff;
}

.ensino:hover h3 {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #fff;
}

/*======================= Sobre =======================*/
#sobre {
    margin-top: 8%;
    padding-top: 2%;
    background: #f8f8f8;
    padding-bottom: 6%;

}

#sobre h1 {
    padding-top: 5.5%;
}

.nav-tabs {
    width: 87.5%;
    margin-left: 6%;
}

a i {
    font-size: 48px;
}

.tab-pane {
    margin-left: 6%;
    border: 1px solid #ddd;
    width: 87.5%;
    border-top-color: transparent;
    padding: 5%;
    background: #fff;
}

.tab-pane h3 {
    text-align: center;
    margin-bottom: 4%;
}

/*======================= Divisão =======================*/
.divisao {
    background: #00ac8d;
    font-size: 20pt;
    padding-bottom: 3.5%;
    padding-top: 3.5%;
    color: #fff;
}

/*======================= Galeria =======================*/
#galeria h1 {
    margin-bottom: -3%;
}

#galeria p {
    text-align: center;
}

.fotos {
    margin-left: 6%;
    padding-bottom: 2%;
    width: 87.5%;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
}

.imagemGaleria {
    float: left;
    width: 21.5%;
    transition: all .3s ease-in-out;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.75);
    border: 1px solid #00ac8d;
}

.imagemGaleria:first-child {
    margin-left: 2.8%;
    margin-top: 2.2%;
}

.imagemGaleria:hover {
    transform: scale(1.2);
    box-shadow: none;
}

/*======================= Divisão Fale Conosco =======================*/
.divisaoFaleConosco {
    margin-top: 7%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 25pt;
    color: #fff;
    background: #00ac8d;
}

/*======================= Fale Conosco =======================*/
.campoDuplo {
    width: 50%;
    margin-bottom: 2%;
    display: inline-block;
}

.contatos {
    width: 60%;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3%;
    margin-bottom: 6%;
    margin-left: 6%;
    padding: 2%;
    overflow: hidden;
    margin-top: 9%;
    float: left;
}

.icone {
    float: left;
    width: 15%;
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 13pt;
    padding-bottom: 1%;
    border-radius: 4px 0 0 4px;
}

input {
    float: left;
    border: 1px solid #ccc;
    width: 75%;
    padding: 0.5%;
    padding-bottom: 0.7%;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding-left: 2%;
}

select {
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.campoDuplo input:nth-child(2),
select {
    width: 80%;
}


.campoDuplo:nth-child(3),
.campoDuplo:nth-child(1) {
    float: left;
}

input:focus,
select {
    outline: none;
}

.campo,
.campoDuplo,
.campoMensagem {
    display: flex;
}

.campo .icone {
    width: 7.5%;
}

.campo input {
    width: 90%;
    padding-left: 1%;
}

.campoMensagem {
    margin-top: 2%;
    width: 100%;
}

.campoMensagem .icone {
    width: 7.5%;
    padding-top: 9%;
    padding-bottom: 10%;
}

#mensagem {
    resize: none;
    overflow: auto;
    width: 90%;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding-left: 1%;
}

.botao {
    padding-top: 5%;
    text-align: center;
}

#enviar {
    margin: 0 auto;
    display: inline-block;
    color: #fff;
    background-color: #00796a;
    border-radius: 4px;
    border: 1px solid #037265;
    padding: 2%;
}

#enviar:hover {
    background: #00ac8d;
}

.loading {
    background-image: url(../img/loading.gif);
    background-size: contain;
    display: none;
    height: 50px;
    width: 50px;
    margin-bottom: -3.7%;
};


select:invalid {
    color: gray;
}

.enderecos {
    float: left;
    width: 30%;
    padding: 2%;
    margin-top: 6%;
    text-align: center;
}

/*======================= Rodapé =======================*/
footer {
    clear: both;
    display: block;
    background: #00796a;
    height: 100%;
}

.rodape {
    color: #fff;
    display: inline-block;
    width: 100%;
}

.redesSociais {
    margin-left: 55%;
}

.rodape img {
    width: 11%;
    margin-left: 11%;
}

.redesSociais a {
    display: inline-block;
    text-align: center;
    padding: 1%;
    border-radius: 10%;
}

.redesSociais a:hover {
    background: #00ac8d;
}

.redesSociais i {
    font-size: 20pt;
    color: #fff;
}

.rodape p {
    text-align: center;
}

/*===================================================== Estilo para tamanho menor que 1030px =====================================================*/
@media screen and (max-width: 1025px) and (min-width: 600px) {

    /*========= Níveis de Ensino =========*/
    .ensino {
        display: inline-block;
    }

    .ensino:nth-last-child(1),
    .ensino:nth-last-child(2) {
        width: 40%;
        margin-top: 10%;

    }

    .ensino:nth-last-child(3),
    .ensino:nth-last-child(4) {
        width: 40%;
    }

    
    .ensino:nth-last-child(1) {
        margin-right: 1%;
    }

    .ensino:nth-last-child(3) {
        margin-right: 1%;
    }


    .ensino h3 {
        font-size: 18pt;
    }

    .ensino p {
        font-size: 12pt;
    }
}
